:host {
  display: inherit;
  flex: inherit;
  flex-direction: inherit;
  align-items: inherit;
  justify-content: inherit;
}

.button-container {
  min-height: 100px;
  min-width: 250px;
  width: fit-content;
  height: fit-content;
  position: relative;

  &:hover > fa-icon {
    display: flex;
  }

  [class*="button"] {
    width: 94px;
    height: 89px;

    &.normal {
      background: url("/assets/images/transparent_button_small_normal.webp")
        no-repeat;
    }

    &.pressed {
      background: url("/assets/images/transparent_button_small_pressed.webp")
        no-repeat;
    }
  }

  .button-color {
    border-radius: 50%;
  }

  .button-shadow {
    background: url("/assets/images/transparent_button_small_shadow.webp")
      no-repeat;
  }

  fa-icon {
    align-items: center;
    border-radius: 2em;
    color: white;
    display: none;
    height: 2em;
    justify-content: center;
    position: absolute;
    right: 0;
    width: 2em;

    $nbItems: 2;
    @for $i from 0 through $nbItems {
      &:nth-child(#{$i + 1}) {
        top: calc(50% - #{$i * 2.5em});
      }
    }
  }
}
