<div
  id="button-container"
  class="d-flex flex-column align-items-center justify-content-center text-center p-5"
>
  <div class="my-4" [ngStyle]="{ width: '94px', height: '89px' }">
    <div
      class="button-color position-absolute"
      [style.background-color]="button.color"
    ></div>
    <div
      class="button position-absolute"
      [ngClass]="[isPressed ? 'pressed' : 'normal']"
      (mousedown)="this.isPressed = true; this.onClick(button.fileName)"
      (mouseup)="this.isPressed = false"
      (mouseleave)="this.isPressed = false"
    ></div>
  </div>
  <h3>{{ button.name }}</h3>
  <i>{{ button.description }}</i>
</div>
