form {
  & > *::ng-deep > &:first-child {
    margin-bottom: 0.5em;
  }

  & > button {
    border: none;
    background-color: #007bff;
    padding: 10px;
    border-radius: 10px;

    &:focus {
      outline: none;
    }

    &:hover {
      background-color: #006aff;
    }
  }
}