<div class="modal-header">
  <h4 class="modal-title pull-left">Create a new button</h4>
  <button
    type="button"
    class="close pull-right"
    aria-label="Close"
    (click)="this.modalService.bsModalRef.hide()"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="this.buttonFormGroup">
    <sndb-input label="Name" controlName="name"></sndb-input>
    <sndb-input label="Description" controlName="description"></sndb-input>
    <sndb-input label="Hexadecimal color" controlName="color"></sndb-input>
    <sndb-input
      label="File"
      type="file"
      controlName="file"
      (change)="this.onFileSelect($event)"
    ></sndb-input>
  </form>

  <button (click)="this.createButton()">Create</button>
</div>
