<app-sgl-modal [title]='this.isCreation ? "Create a new button" : "Update button \"" + this.button.name + "\""'
               [modalRef]="this.modalService.bsModalRef">
    <form appFormSubmit appFormOptional [formGroup]="this.buttonFormGroup">
        <app-sgl-input label="Name" controlName="name"></app-sgl-input>
        <app-sgl-input label="Description" controlName="description"></app-sgl-input>
        <app-sgl-tags label="Tags" hint="Separate tags with a comma" controlName="tags"></app-sgl-tags>
        <app-sgl-color-picker label="Hexadecimal color" controlName="color"></app-sgl-color-picker>
        <app-sgl-input label="File" type="file" controlName="file"
                       (change)="this.onFileSelect($event)"
                       [customErrors]="this.fileCustomErrors">
        </app-sgl-input>

        <button class="mt-3 text-white w-100" (click)="this.submit()">{{ this.isCreation ? 'Create' : 'Update' }}</button>
    </form>
</app-sgl-modal>