#soundboard-container {
  margin-top: 4em;
  background-color: #222;
  overflow-x: hidden;
  padding: 2em;

  .categoryContainer {

    .category {
      font-size: 3em;
      color: #BBB;
      font-family: "Courier New", serif;
    }

    .buttons-container {

      .button-container {
        width: fit-content;
        height: fit-content;
        padding: 50px;
      }
    }
  }

  #no-button-available {
    padding: 0 12vw;

    h1 {
      font-size: 4rem;
    }

    h2 {
      font-size: 1.5rem;
    }
  }
}
