<div id="soundboard-container" class="w-100 h-100 text-white">
    <app-soundboard-toolbar #soundboardToolbar></app-soundboard-toolbar>

    <div class="buttons-container position-relative d-flex flex-row flex-wrap
                align-items-center justify-content-center">
        <ng-container *ngFor="let button of this.buttons">
            <app-soundboard-button [button]="button"
                                   [onClick]="this.soundboardService.playAudio.bind(soundboardService)">
            </app-soundboard-button>
        </ng-container>
    </div>
</div>