#soundboard-container {
  display: flex;
  background-color: #000;

  .button-container {
    height: fit-content;
    padding: 50px;

    [class*=button] {
      width: 94px;
      height: 89px;

      &.normal {
        background: url('/assets/images/transparent_button_small_normal.webp') no-repeat;
      }

      &.pressed {
        background: url('/assets/images/transparent_button_small_pressed.webp') no-repeat;
      }
    }

    .button-color {
      border-radius: 50%;
    }

    .button-shadow {
      background: url('/assets/images/transparent_button_small_shadow.webp') no-repeat;
    }
  }
}