<div id="soundboard-container" class="w-100 h-100 text-white">
    <app-soundboard-toolbar #soundboardToolbar
                            (createdButtonEvent)="this.onButtonEvent(SoundboardButtonEvent.CREATED, $event)"
                            (search)="this.onSearch($event)">
    </app-soundboard-toolbar>

    <div class="buttons-container position-relative d-flex flex-row flex-wrap
                align-items-center justify-content-center">
        <ng-container *ngFor="let button of this.buttons">
            <app-soundboard-button
                    *ngIf="!button.hide"
                    [button]="button"
                    [onClick]="this.soundboardService.playAudio.bind(soundboardService)"
                    (onButtonEdited)="this.onButtonEvent(SoundboardButtonEvent.UPDATED, $event)"
                    (onButtonDeleted)="this.onButtonEvent(SoundboardButtonEvent.DELETED, $event)">
            </app-soundboard-button>
        </ng-container>
    </div>
</div>