input[type="text"] {
  border-radius: 5px;
  min-height: 2.2em;
  border-width: 1px;
  padding: 5px 10px;

  &:focus {
    outline: none;
  }

  &.ng-invalid.ng-dirty {
    border: solid 2px #dc3545;
  }
}