input[type="text"] {
  border-radius: 5px;
  min-height: 2.2em;
  padding: 5px 10px;
  outline: none;
  border: solid 1px #c4c4c6;

  &:focus {
    border: solid 2px #007bff;
  }

  &.error {
    border-color: #dc3545;
  }

  &.ng-valid {
    border-color: #28a745;
  }
}